body {
  background: #18181e;
  font-family: "Libre Baskerville", sans-serif;
  color: #dec79b;
  font-size: 12.5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.animate span {
  display: block;
  position: relative;
  text-align: center;
}

h1 {
  padding: 10px 0;
}

.animate.backwards > span {
  animation: animateBackwards 1s ease-in-out forwards;
}
.animate.forwards > span {
  animation: animateForwards 1s ease-in-out forwards;
}

.animate.mixed > span:nth-child(even) {
  animation: animateBackwards 1s ease-in-out forwards;
}
.animate.mixed > span:nth-child(odd) {
  animation: animateForwards 1s ease-in-out forwards;
}

@keyframes animateForwards {
  from {
    top: 0;
    transform: rotate(0deg);
  }
  to {
    top: 0.9em;
    transform: rotate(-15deg);
  }
}
@keyframes animateBackwards {
  from {
    top: 0;
    transform: rotate(0deg);
  }
  to {
    top: 1em;
    transform: rotate(25deg);
  }
}
